.App {
  text-align: center;
  position: relative; 
  min-height: 100vh; 
}

.celestial-body {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  animation-duration: 2s;
  transition: transform 2s ease; 
  bottom: 0; 
}

.moon {
  background-color: darkgray;
}

.sun {
  background-color: orange;
}

.move-up {
  transform: translateY(-90vh); 
}

.move-down {
  transform: translateY(0); 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
